
venv
env
*venv
__pycache__
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd
*.pyo
.ipynb_checkpoints/
*.ipynb
.vscode/
.idea/
venv/
env/
.venv/
*.log
*.out
*.tmp
*.ckpt
*.h5
*.pb
*.pth
*.pt
*.tflite
Plots2.0/
*.npy
*.npz
*.csv
*.hdf5
*.mat
.DS_Store
Thumbs.db
events.out.tfevents.*
events.out.tfevents.*
.txt
*.txt
output/
clearml.conf
